ChallengeResponseAuthentication no
# UsePAM yes # Prints login information
PrintMotd no
X11Forwarding no
AllowTcpForwarding yes
AllowAgentForwarding no
PermitTunnel yes 
Subsystem sftp /usr/lib/openssh/sftp-server
